version: "3.8"

services:
  backend:
    build: ./backend
    container_name: spring-backend
    ports:
      - "8080:8080"

    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "3000:3000"  # Port interne pour le reverse proxy
    depends_on:
      - backend
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
