version: "3.8"


services:
  backend:
    build: ./backend
    container_name: spring-backend
    ports:
      - "8080:8080"


  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "80:80"
    depends_on:
      - backend

